@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratAlternates-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratAlternates-Medium.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratAlternates-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratAlternates-Bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Kdam';
    src: url("../fonts/KdamThmorPro-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Press';
    src: url("../fonts/PressStart2P-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url("../fonts/Unbounded-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
