:root {
    --primary-font: 'Montserrat';
    --accent-font: 'Kdam';
    --title-font: 'Unbounded';

    --primary-text-color: #FFFFFF;
    --accent-text-color: #00FFA3;
    --accent-red-text-color: rgb(200, 34, 34);

    --green-back-color: #00FFA3;
}