.design {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.design .container {
    position: relative;
}

.design__uptitle {
    text-align: left;
    top: -3rem;
}

.design__title {
    position: relative;
    margin-bottom: 5rem;
    text-align: left;
}

.design__list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.design__item {
    width: calc((100% - 4rem) / 3);
}

.design__image {
    max-width: 100%;
}